<!doctype html>
<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>BLiP - Botcamp 2019</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
        <style>
            body {
                margin: 10px;
            }
        </style>
    </head>

    <body>
        <p>API only</p>
        <ul>
            <li><a href="/places/?lat=-23.600978&lng=-46.684317" target="blank">places</a></li>
            <li><a href="/wiki/?search=São_Paulo" target="blank">wikipedia</a></li>
        </ul>
    </body>

</html>